@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #3B82F6;
  --color-secondary: #F9FAFB;
  --font-main: 'Inter', sans-serif;
}

body {
  font-family: var(--font-main);
}
